@model WarehouseCore.MVC.Models.Booking
@{
    ViewBag.Title = "Chi tiết Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Chi tiết booking*@
<div class="card">
    <div class="card-header">
        <h3>Chi tiết Booking</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <strong>Shipment:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.Shipment
                </div>
                <div class="col-md-2 col-lg-2 label">
                    <strong>Consol:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.Consol
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <strong>Shipper:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.Shipper
                </div>
                <div class="col-md-2 col-lg-2 label">
                    <strong>Consignee:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.Consignee
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <strong>Destination:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.Destination
                </div>
                <div class="col-md-2 col-lg-2 label">
                    <strong>Gross Weight:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.GWeight
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <strong>Actual CBM:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.ActualCBM
                </div>
                <div class="col-md-2 col-lg-2 label">
                    <strong>Cargo Receipt Number:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.CargoReceiptNumber
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <strong>Remark:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.Remark
                </div>
                <div class="col-md-2 col-lg-2 label">
                    <strong>Date:</strong>
                </div>
                <div class="col-md-4 col-lg-4 label">
                    @Model.Date.Value.ToString("dd/MM/yyyy")
                </div>
            </div>
        </div>
    </div>
</div>

@*Danh sách Pallet trong booking*@
<div class="card">
    <div class="card-header">
        <h3>Danh sách Pallet</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <label class="control-label">Số Pallet</label>
            <input type="number" class="form-control" id="palletNo" min="0" step="1" style="display:inline" />
            <a class="btn btn-primary" style="margin-bottom:10px;" onclick="CreateJob()" id="btnCreateJob"><i class="fa fa-tasks"></i> Tạo pallet</a>
            <table id="truckTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Shipment</th>
                        <th>Số PO</th>
                        <th>Đơn vị</th>
                        <th>Số lượng</th>
                        <th>Vị trí</th>
                        <th>Trạng thái</th>
                        <th>Ảnh</th>
                        <th>In</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            let url = "/Pallet/GetPalletByBooking?bookingid=" + @Model.Id;
            dataTable = $("#truckTable").DataTable({
                "ajax": {
                    "url": url,
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "Shipment" },
                    { "data": "POSO" },
                    { "data": "Unit" },
                    { "data": "Quantity" },
                    { "data": "PositionName" },
                    { "data": "StatusText" },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-picture-o f-18 text-success' onclick=PopupImage(" + data + ")><i />";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    },{
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-print f-18 text-success' onclick=Print(" + data + ")><i />";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-pencil f-18 text-success' onclick=PopupForm('@Url.Action("AddOrEdit", "Pallet")/" + data + "')><i />";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-trash f-20 text-danger' onclick=Delete(" + data + ")></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    }
                ]
            });
        });

        //hàm tạo pallet trong booking
        function CreateJob() {
            if ($('#jobNo').val() == '') {
                $.notify("Hãy nhập số pallet cần tạo!", {
                    globalBooking: "top center",
                    className: "error"
                });
                return;
            }
            $.ajax({
                type: "GET",
                url: "/Pallet/CreatePalletByBooking?bookingid=" + @Model.Id + "&palletNo=" + $('#palletNo').val(),
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalBooking: "top center",
                            className: "success"
                        });
                    }
                    else {
                        $.notify(data.message, {
                            globalBooking: "top center",
                            className: "error"
                        })
                    }
                }
            });
            return false;
        }

        //hàm tạo popup sửa thông tin pallet
        function PopupForm(url) {
            var formDiv = $('<div />');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizeable: false,
                        title: 'Sửa thông tin Pallet',
                        height: 420,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        //hàm tạo popup image
        //function PopupImage(data) {
        //    var formDiv = $('<div />');
        //    var url = '/Pallet/PalletImages';
        //    $.get(url)
        //        .done(function (response) {
        //            formDiv.html(response);
        //            Popup = formDiv.dialog({
        //                autoOpen: true,
        //                resizeable: false,
        //                title: 'Ảnh Pallet',
        //                height: 420,
        //                width: 600,
        //                close: function () {
        //                    Popup.dialog('destroy').remove();
        //                }
        //            });
        //        });
        //}

        function PopupImage(data) {
            var formDiv = $('<div />');
            var url = '/Pallet/PalletImages?palletid=' + data;

            function initCarousel() {
                var slideIndex = 0;
                var slides = $(".slide");

                function showSlides() {
                    slides.removeClass("active");
                    slides.eq(slideIndex).addClass("active");
                    slideIndex++;
                    if (slideIndex >= slides.length) {
                        slideIndex = 0;
                    }
                    setTimeout(showSlides, 5000);
                }

                showSlides();

                $(".next").click(function () {
                    slides.removeClass("active");
                    slideIndex++;
                    if (slideIndex >= slides.length) {
                        slideIndex = 0;
                    }
                    slides.eq(slideIndex).addClass("active");
                });

                $(".prev").click(function () {
                    slides.removeClass("active");
                    slideIndex--;
                    if (slideIndex < 0) {
                        slideIndex = slides.length - 1;
                    }
                    slides.eq(slideIndex).addClass("active");
                });
            }

            $.get(url).done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizeable: false,
                    title: 'Ảnh Pallet',
                    height: 420,
                    width: 600,
                    close: function () {
                        // Remove dialog content
                        formDiv.empty();
                        // Destroy dialog
                        Popup.dialog('destroy').remove();
                    },
                    open: function () {
                        // Initialize carousel
                        initCarousel();
                    }
                });
            });
        }


        //hàm submit thông tin từ sửa pallet lên server
        function SubmitForm(form) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalBooking: "top center",
                            className: "success"
                        })
                    }
                    else {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalBooking: "top center",
                            className: "error"
                        })
                    }
                }
            });
            return false;
        }

        function Print(id) {
            $.ajax({
                type: "GET",
                url: "/Pallet/PrintPalletSheet?id=" + id,
                contentType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                xhrFields: { responseType: 'blob' },
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = 'PalletSheet.xlsx';
                    a.click();
                    window.URL.revokeObjectURL(url);
                }
            });
            return false;
        }

        function Delete(id) {
            if (confirm("Bạn có muốn xóa Pallet này không?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Pallet")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalBooking: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}